@import '../../../../theme/palette';

.swars-dual-selector__header {
  text-align: center;
}

.mat-card.swars-dual-selector__option-card {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  cursor: pointer;
  transition: box-shadow, color 0.2s ease-in-out;

  &:hover, &.selected {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &.selected {
    background: mat-color($SwapiWars-primary);
    color: mat-color($SwapiWars-accent);
  }
}

.swars-dual-selector__option-icon {
  display: block;
  font-size: 5rem;
  margin-bottom: 2rem;
}
