.swars-loading-indicator__card {
  padding: 2rem;
  padding: 2rem;
}

.swars-loading-indicator__spinner {
  margin: 0 auto;
}

.swars-loading-indicator__text {
  margin-top: 3rem;
  text-align: center;
}
