<div class="swars-battle__container row">
  <div class="col-xs-12">
    <swars-round-counter [round]="round$ | async" class="swars-battle__round-counter"></swars-round-counter>
  </div>
  <div class="col-xs-12">
    <swars-game-score [scores]="scores$ | async" class="swars-battle__game-score"></swars-game-score>
  </div>
  <div class="col-xs-12 swars-battle__cards row around-xs middle-xs">
        <ng-container *ngIf="entities$ | async as pair; else loading">
          <swars-battle-card class="col-xs-12 col-md-6" [entity]="pair[0]"></swars-battle-card>
          <swars-battle-card class="col-xs-12 col-md-6" [entity]="pair[1]"></swars-battle-card>
        </ng-container>
        <ng-template #loading>
            <swars-loading-indicator></swars-loading-indicator>
        </ng-template>
    <div class="swars-battle__result-container">
      <swars-battle-result *ngIf="ended" [player]="winner" class="mat-elevation-z8"></swars-battle-result>
        </div>
    </div>
    <button (click)="rerollEntities()" [disabled]="!ended" mat-flat-button color="primary"
            class="swars-battle__reroll-button">Reroll!
    </button>
</div>
