@import '../../../../theme/palette';

swars-battle-card {
  display: block;
  min-width: 20rem;
}

.swars-battle-card__header .mat-card-header-text {
  margin: 0 auto;
}

.swars-battle-card__stat {
  text-align: center;
  margin: 0.5rem 0;
}

.swars-battle_card__stat-value {
  padding: 1rem;
  border-radius: 0.2rem;
  font-weight: bold;
  background: mat-color($SwapiWars-primary);
  color: mat-color($SwapiWars-accent);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 4rem;
  margin-bottom: 1rem;
}

button.swars-battle-card__reroll-button {
  width: 100%;
  margin-top: 1rem;
}
