<mat-card class="swars-game-score__card">
    <mat-card-header class="swars-game-score__header">
        <mat-card-title>Score</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-xs-6 swars-game-score__player">
                <div class="swars-game-score__player-header">Player 1</div>
                <div class="swars-game-score__player-score">{{ scores[0] }}</div>
            </div>
            <div class="col-xs-6 swars-game-score__player">
                <div class="swars-game-score__player-header">Player 2</div>
                <div class="swars-game-score__player-score">{{ scores[1] }}</div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
