@font-face {
  font-family: 'StarJedi';
  src: url('assets/fonts/starjedi/StarJediSpecialEdition.woff2') format('woff2'),
  url('assets/fonts/starjedi/StarJediSpecialEdition.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
